%h1 New Campaign

= simple_form_for @campaign do |f|
  =# f.input :country, collection: Country.all
  =# f.country_select("user", "country_name")
  =# f.input :country, collection: @continents, as: :grouped_select, group_method: :countries
  = f.input :name
  = f.submit